.background {
  padding: 200px 200px 15vh;
  height: 100vh;
}

.block {
  width: 600px;
  height: 450px;
  background-image: url('../images/8657865567856.jpg'), linear-gradient(to right, red, blue);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain, cover;
}

.background-1 {
  padding: 100px 100px 30vh;
  height: 100vh;
}

.block-1 {
  width: 800px;
  height: 550px;
  background: url('../images/8657865567856.jpg') center/contain no-repeat, linear-gradient(to right, red, blue) center/cover no-repeat;
}