
.title::before {
  content: "";
  background-color: blue;
  width: 10px;
  height: 10px;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
}

.title::after {
  content: "";
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
}