
/* .block {
  width:250px;
  height: 250px;
  background-color: rgba(43, 202, 115, 0.432);
  border: 5px solid black;
} */
.flex__block {
  width: 200px;
  height: 200px;
  background-color: chocolate;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}